SQLSERVER_DATABASE=vibe_course_ai_db
SQLSERVER_SA_PASSWORD=VibeCourse@123
SQLSERVER_PORT=1434
BACKEND_PORT=5000
FRONTEND_PORT=3000
AI_WORKER_PORT=8000
ASPNETCORE_ENVIRONMENT=Development
CONNECTION_STRING=Server=sqlserver,1433;Database=vibe_course_ai_db;User Id=sa;Password=VibeCourse@123;TrustServerCertificate=True;Encrypt=False
VITE_API_BASE_URL=http://localhost:5000/api
